@page "/lists/add"
@using LetMeDo.Models
@inject NavigationManager NavigationManager

<PageTitle>New List</PageTitle>

<h1>Create a new list</h1>

<EditForm Model="@model" OnValidSubmit="@HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <InputText id="title" @bind-Value="model.Title" />

    <button type="submit">Submit</button>
</EditForm>

@code {
    private TodoList model = new();

    private void HandleValidSubmit()
    {
        model.Id = AppState.Lists.Count + 1;
        AppState.Lists.Add(model);
        AppState.NotifyChanges(model, null);
        NavigationManager.NavigateTo($"/lists/{model.Id}");
    }
}